openapi: 3.0.0
info:
  title: Octav Airdrops Chains API
  description: Comprehensive blockchain data API for portfolio management, transactions, and DeFi analytics
  version: 1.0.0
  contact:
    name: Octav Support
    url: https://octav.fi
    email: info@octav.fi
servers:
- url: https://api.octav.fi/v1
  description: Production API
security:
- bearerAuth: []
tags:
- name: Chains
  description: Blockchain network and protocol endpoints
paths:
  /chains:
    get:
      summary: Chains
      description: 'Get all supported blockchain networks.


        **Cost:** Free (0 credits)


        **Get your API key:** [Dev Portal](https://data.octav.fi)'
      operationId: getChains
      tags:
      - Chains
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    chainId:
                      type: string
                      description: Blockchain network ID (e.g. "1" for Ethereum)
                    key:
                      type: string
                      description: Short identifier used in API requests (e.g. "ethereum")
                    name:
                      type: string
                      description: Human-readable chain name (e.g. "Ethereum")
                    symbol:
                      type: string
                      description: Native token symbol (e.g. "ETH")
                    color:
                      type: string
                      description: Hex color code for UI display (e.g. "#627EEA")
                    imgSmall:
                      type: string
                      description: URL to small chain icon
                    imgLarge:
                      type: string
                      description: URL to large chain icon
                    explorerTokenUrl:
                      type: string
                      description: Block explorer URL template for tokens
                    explorerTransactionUrl:
                      type: string
                      description: Block explorer URL template for transactions
                    explorerAddressUrl:
                      type: string
                      description: Block explorer URL template for addresses
                    blockscoutExplorerAddressUrl:
                      type: string
                      nullable: true
                      description: Blockscout explorer URL for addresses (null if unavailable)
                    blockscoutExplorerTokenUrl:
                      type: string
                      nullable: true
                      description: Blockscout explorer URL for tokens (null if unavailable)
                    blockscoutExplorerTransactionUrl:
                      type: string
                      nullable: true
                      description: Blockscout explorer URL for transactions (null if unavailable)
                    isPortfolioSupported:
                      type: boolean
                      description: Whether portfolio tracking is supported on this chain
                    isTransactionsSupported:
                      type: boolean
                      description: Whether transaction history is supported on this chain
        '401':
          description: Unauthorized — invalid or missing Bearer token
        '429':
          description: Too Many Requests — rate limit exceeded
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
      security:
      - bearerAuth: []
  /chains/{chainKey}/protocols:
    get:
      summary: Protocols
      description: 'List DeFi protocols available on a specific chain.


        **Cost:** Free (0 credits)


        **Get your API key:** [Dev Portal](https://data.octav.fi)'
      operationId: getProtocols
      tags:
      - Chains
      parameters:
      - name: chainKey
        in: path
        required: true
        description: Chain identifier (e.g. "ethereum", "solana", "arbitrum"). Must match a chain's `key` field from the Chains endpoint.
        schema:
          type: string
        example: ethereum
      - name: page
        in: query
        required: false
        description: Page number for pagination
        schema:
          type: integer
          minimum: 1
          default: 1
      - name: limit
        in: query
        required: false
        description: Number of protocols per page (1-100)
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: Array of protocol objects
                    items:
                      type: object
                      properties:
                        uuid:
                          type: string
                          description: Unique protocol identifier
                        name:
                          type: string
                          description: Protocol display name (e.g. "Uniswap")
                        key:
                          type: string
                          description: Protocol key (e.g. "uniswap")
                        imgSmall:
                          type: string
                          description: URL to small protocol icon
                        imgLarge:
                          type: string
                          description: URL to large protocol icon
                        isUserProtocol:
                          type: boolean
                          description: True if this is a user-created custom protocol
                  pagination:
                    type: object
                    description: Pagination metadata
                    properties:
                      page:
                        type: integer
                        description: Current page number
                      limit:
                        type: integer
                        description: Items per page
                      hasMore:
                        type: boolean
                        description: Whether more pages are available
        '400':
          description: Validation error — invalid page or limit values
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          description: Unauthorized — invalid or missing Bearer token
        '404':
          description: Chain not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '429':
          description: Too Many Requests — rate limit exceeded
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
      security:
      - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
