openapi: 3.0.0
info:
  title: Octav Airdrops Transactions API
  description: Comprehensive blockchain data API for portfolio management, transactions, and DeFi analytics
  version: 1.0.0
  contact:
    name: Octav Support
    url: https://octav.fi
    email: info@octav.fi
servers:
- url: https://api.octav.fi/v1
  description: Production API
security:
- bearerAuth: []
tags:
- name: Transactions
  description: Transaction history endpoints
paths:
  /transactions:
    get:
      summary: Transactions
      description: 'Query transaction history with powerful filtering and search.


        **Cost:** 1 credit per call


        **Get your API key:** [Dev Portal](https://data.octav.fi)'
      operationId: getTransactions
      tags:
      - Transactions
      parameters:
      - name: addresses
        in: query
        required: true
        description: Wallet address (EVM or SOL)
        schema:
          type: string
        example: '0x6426af179aabebe47666f345d69fd9079673f6cd'
      - name: limit
        in: query
        required: true
        description: Number of transactions per page (1-250, recommended 10-50)
        schema:
          type: integer
          minimum: 1
          maximum: 250
        example: 10
      - name: offset
        in: query
        required: true
        description: Pagination offset (0-based)
        schema:
          type: integer
          minimum: 0
        example: 0
      - name: sort
        in: query
        required: false
        description: Sort order by timestamp (DESC=newest first, ASC=oldest first)
        schema:
          type: string
          enum:
          - DESC
          - ASC
          default: DESC
      - name: initialSearchText
        in: query
        required: false
        description: Full-text search in transaction assets (token symbols, names, addresses)
        schema:
          type: string
      - name: interactingAddresses
        in: query
        required: false
        description: Filter by interacting addresses (comma-separated)
        schema:
          type: string
      - name: networks
        in: query
        required: false
        description: Filter by blockchain networks (comma-separated chain keys)
        schema:
          type: string
      - name: txTypes
        in: query
        required: false
        description: 'Filter by transaction types (comma-separated)


          See [Transaction Types](https://octav-0131e508.mintlify.app/api/reference/transaction-types)'
        schema:
          type: string
      - name: protocols
        in: query
        required: false
        description: 'Filter by protocol keys (comma-separated)


          See [Protocol Keys](https://protocols.octav.fi/)'
        schema:
          type: string
      - name: hideSpam
        in: query
        required: false
        description: Exclude spam transactions
        schema:
          type: boolean
          default: false
      - name: hideDust
        in: query
        required: false
        description: Exclude dust transactions
        schema:
          type: boolean
          default: false
      - name: startDate
        in: query
        required: false
        description: 'Start of the date range (ISO 8601, UTC). Inclusive: timestamp >= startDate, compared at the exact instant passed. Optional — omit to start from the wallet''s first indexed transaction. camelCase only (start_date returns 400).'
        schema:
          type: string
          format: date-time
        example: '2024-01-01T00:00:00Z'
      - name: endDate
        in: query
        required: false
        description: 'End of the date range (ISO 8601, UTC). Rounded up to the end of that calendar day (23:59:59Z); time-of-day is ignored. Inclusive: timestamp <= endOfDay(endDate). Optional. camelCase only (end_date returns 400).'
        schema:
          type: string
          format: date-time
        example: '2024-12-31T23:59:59Z'
      - name: tokenId
        in: query
        required: false
        description: Filter by NFT token ID
        schema:
          type: string
      responses:
        '200':
          description: Successful response
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
